[Desktop Entry]
Name=PAINter
GenericName=Painter
Exec=/home/s5605094/Programming/ProP_2023_ProgrammingProject_Christopher_Hosken/PAINter/PAINter %u
Icon=/home/s5605094/Programming/ProP_2023_ProgrammingProject_Christopher_Hosken/PAINter/assets/images/ross.jpg
Terminal=false
Type=Application